.btn {
    padding: 4px;
    color: @white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-color: #CC3300;
    border: 2px solid #CC3300;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease all;

    &:hover {
        color: #CC3300;
        background-color: @white;
    }
}

.btn-wide {
    width: 100%;
}

.btn-large {
    padding: 8px;
    font-size: 20px;
}