.title {
    margin-bottom: 0px;
    padding: 4px 0px;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    background-color: @blue;
}

.spinner-actions {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.spinner-control {
    flex: 0 0 50%;
    padding: 8px;

    & > span {
        display: inline-block;
        width: 50%;
        padding: 4px;
        font-size: 18px;
        text-transform: uppercase;
        vertical-align: middle;
        line-height: 30px;

        &:first-child {
            font-weight: bold;
            text-align: right;
        }
    }

    .cash {
        font-weight: bold;
        font-size: 20px;
        color: @green;
    }

    input {
        width: 50px;
        padding: 4px;
        border-radius: 3px;
        border: 2px solid @grey;
    }

    &:last-of-type {
        flex: 0 0 100%;
        text-align: center;
    }
}

.spinner-container {
    width: 240px;
    margin: 0 auto 20px;
    padding: 15px;
    border: 3px solid @black;
}

.spinner-row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .spinner {
        display: inline-block;
        width: 32%;
        font-size: 48px;
        text-align: center;
        border-left: 2px solid @black;
        border-right: 2px solid @black;
        border-top: 1px solid @grey;
        border-bottom: 1p1 solid @grey;
    }

    &:first-of-type .spinner {
        border-top: 2px solid @black;
    }

    &:last-of-type .spinner {
        border-bottom: 2px solid @black;
    }
}

.results {
    padding: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    background-color: @green;
}