* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
h1,
p {
  margin-top: 0px;
  margin-bottom: 12px;
}
.title {
  margin-bottom: 0px;
  padding: 4px 0px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #3333cc;
}
.spinner-actions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.spinner-control {
  flex: 0 0 50%;
  padding: 8px;
}
.spinner-control > span {
  display: inline-block;
  width: 50%;
  padding: 4px;
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: middle;
  line-height: 30px;
}
.spinner-control > span:first-child {
  font-weight: bold;
  text-align: right;
}
.spinner-control .cash {
  font-weight: bold;
  font-size: 20px;
  color: #079a0b;
}
.spinner-control input {
  width: 50px;
  padding: 4px;
  border-radius: 3px;
  border: 2px solid #999999;
}
.spinner-control:last-of-type {
  flex: 0 0 100%;
  text-align: center;
}
.spinner-container {
  width: 240px;
  margin: 0 auto 20px;
  padding: 15px;
  border: 3px solid #000000;
}
.spinner-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.spinner-row .spinner {
  display: inline-block;
  width: 32%;
  font-size: 48px;
  text-align: center;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  border-top: 1px solid #999999;
  border-bottom: 1p 1 solid #999999;
}
.spinner-row:first-of-type .spinner {
  border-top: 2px solid #000000;
}
.spinner-row:last-of-type .spinner {
  border-bottom: 2px solid #000000;
}
.results {
  padding: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  background-color: #079a0b;
}
.btn {
  padding: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #CC3300;
  border: 2px solid #CC3300;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s ease all;
}
.btn:hover {
  color: #CC3300;
  background-color: #ffffff;
}
.btn-wide {
  width: 100%;
}
.btn-large {
  padding: 8px;
  font-size: 20px;
}
